*{
    font-family: 'Red Hat Display', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
  }

a {
    text-decoration: none;
    font-weight: bold;
}

li {
    list-style: none;
}

header {
    background-image: url('./images/sdf.jpg');
    font-family: serif;
    background-position: right top;
    background-size: 55%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    height: 61vw;
}

.navbar {
    margin-right: 0px;
    position: relative;
    top: 5vh;
    font-size: 3vh;
    

    /* overflow: hidden;*/
}

.menu {
    display: flex;
    gap: 3em;
    justify-content: center;

}

li :hover
{

    transition: 0.5s linear;
    padding-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-top: 0px;
    transition: 0.3s linear;
    color: aliceblue, transparent;

}

.cake {
    position: absolute;
    padding-left: 2vw;
    top: 3vh;
    left: 2vw;
    font-size: 3vmax;
    color: aliceblue;
}

#in {
    color: rgb(248, 85, 125);
}


.sweet {
    position: relative;
    top: 5vh;
    left: 7vw;

}

.sweet h1 {
    font-size: 5vw;
}

.pe {
    font-size: 2vw;
    color: rgb(248, 177, 207);

}

.p {
    font-size: 2vw;
    color: rgb(248, 177, 207);
}

.contact {
    position: absolute;
    right: 1vh;
    top: 1vw;
    border-radius: 5px;
    border: 1vw solid rgb(245, 41, 119);
    background-color: rgb(245, 41, 119);
    margin: 0px;
}

.pl
{
    display: flex;
    align-content: center;
    justify-content: center;
}
.g
{
    position: absolute;
    top: 26vw;
    
    left: -1vh;
}
.app
{
    position: absolute;
    top: 27vw;
    left: 25vh;
}

.app img{
    width: 6em;
}

.g img
{
    width: 8em;
}




/* 

.g {
    position: relative;
    height: 1vh;
    width: 1vw;

}

.store {
    font-size: 24px;

}

.app {
    font-size: 10px;
}

.str {
    font-size: 24px;
}

.g {
    border: 1px solid white;
    width: fit-content;
    padding: 10px 15px 10px 45px;
    margin-top: 45px;
    margin-left: 45px;
    border-radius: 10px;


}

.a {
    border: 1px solid white;
    width: fit-content;
    padding: 10px 15px 10px 45px;
    margin-top: 45px;
    margin-left: 45px;
    border-radius: 10px;
}

.c {
    display: flex;
}

 */

/* 
 a:nth-child(1)
{
    width: auto;
} 
nav .home,a:nth-child(1):hover~.anm
{
    width: auto;
}


 a:nth-child(2)
{
    width: auto;
}
nav .product,a:nth-child(2):hover~.anm
{
    width: auto;
}

a:nth-child(3)
{
    width: auto;
}  
nav .gallery,a:nth-child(3):hover~.anm
{
    width: auto;
} */