* {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}
body
{
    background-color: antiquewhite;
}




.about {
    position: relative;
    top: cvw;
    /* height: 100vh; */
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 9vw;
    color: black;
}

.abs {
    /* display: flex; */
    /* font-size: 2vw; */
    justify-content: flex-start;
}

.aboutus {
    font-size: 7vw;
    color: black;
}

.cakein {
    position: relative;
    top: 2vw;
    /* padding-bottom: 5px; */
    font-size: 2.5vw;
    color: black;
    width: 44vw;
}

.empty {
    position: absolute;
    border: 1px solid;
    padding: 30vh 20vh 30vh 20vh;
    height: 42vw;
    width: 28vw;
    /* width: auto; */
    top: 1vh;
    right: 1vh;
    /* align-self: end; */
    margin-left: 0px;
    border-radius: 250px 250px 250px 240px;
    background-image: url(./images/slashio-photography-XxWxPGXwDU0-unsplash.jpg);
    background-size: cover;
    margin-left: 10vw;
    color: black;
}

/* section last page  */

.last {
    border: 0px solid rgb(181, 178, 178);
    background-color: rgb(232, 230, 230);
    position: relative;
    text-align: center;
    margin-top: 10vh;
    height: 37vw;
    align-items: center;
    justify-content: center;
    color: black;
    top: 4vw;

}

.lstpge {
    font-size: 9vw;
    /* font-weight: 39px; */
    color: black;

}

.pic {
    margin-left: 20px;
    border: 0px solid;
    padding: 20px;
    padding: 9vh 3vh 9vh 3vh;
    background-color: rgb(234, 30, 30);
    color: black;
}

.swiper {
    width: 60%;
    height: 20vh;
    display: flex;
    color: black;
    /* background-color: #fff; */

}

.footer {
    top: 1vw;
    margin-top: 10vh;
    height: 60vh;
    width: 100vh;
    box-sizing: border-box;
    text-align: center;
    color: black;
    position: relative;

}

.dis {
    font-size: 6vh;

}

.disc {
    font-size: 6vh;
}

.reg {
    border: 0px solid white;
    background-color: white;
    /* padding: 12px; */
    padding: 10px 18px 10px 18px;
    padding-right: 18px;
    position: relative;
    top: 40px;
}

.reg a {
    color: black;
}

.get {
    padding: 10vh;
    width: 100vw;
    margin-top: 10vh;
    height: 80%;
    background-color: black;
    color: #fff;
}

.panel {
    height: 40%;
    width: 100vw;
    background-color: #ff3d33;
}

.panel {
    position: relative;
    padding-top: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.six {
    position: relative;
    right: 5vw;
    font-weight: bold;
}

.five {
    position: relative;
    right: 3vw;
}

.f {
    position: relative;
    left: 3vw;
}

.second {
    text-align: left;
    margin: 0px;

}

.f {
    color: #fffefe;
}

.home {
    padding-bottom: 5px;
    padding-left: 0px;

}

.hom {
    font-size: 16.2px;
    padding-bottom: 5px;
    font-weight: bold;

}

.home a:hover {
    color: #060201;
}