.recomdation {
    width: 80vw;
    /* text-align: center; */
    margin-left: 10vw;
    margin-right: 10vw;
    color: black;
    position: relative;


}

.recom {
    position: relative;
    color: black;
}

.re {
    text-align: center;
    position: relative;
    font-size: 5vw;
    color: black;
    margin-bottom: 1vw;
    /* top: 4vw; */
}

.com {
    text-align: center;
    position: relative;
    font-size: 2.3vw;
    color: rgba(0, 0, 0, 0.61);
}






.mini {
    position: relative;
    display: flex;
    top: 3vw;
    color: black;
}

.slide
{
    display: none;
}

.crunchy {

    padding: 20vw 13vw 20vw 13vw;
    width: auto;
    border-radius: 250px 250px 250px 250px;
    background-image: url('./images/slashio-photography-XxWxPGXwDU0-unsplash.jpg');
    background-size: cover;
    /* margin-left: 10vw; */
    color: black;


}

.sugar {
    position: relative;
    padding: 3vw;
    color: black;
    
}

.minicake {
    position: relative;
    left: 1vw;
    font-size: 4vw;
    padding-left: 0px;
    color: black;

}

.top {
    position: relative;
    padding: 1vw 1vw;
    font-size: 2.1vw;
    color: black;

}

.rup {

    font-size: 3.4vw;
    /* left: 2vw; */
    padding-left: 1vw;
    font-weight: bold;
    color: black;
}

.star
{
    font-size: 2.5vw;
    padding: 1vw;
    padding-bottom: 2.5vw;

}

.checked {
    color: orange;
  }
  .unchecked
  {
    color: rgba(2, 2, 2, 0.144);
  }

.buy {
    margin: 1vw;
    font-size: 2vw;
    color: antiquewhite;
    background-color: rgb(255, 100, 43);
    padding: 1vw;
}






.slid 
{
    
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgba(0, 0, 0, 0.39);
    font-weight: bold;
    font-size: 4vw;
    transition: 0.6s ease;
    user-select: none;
  }

  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }


@keyframes fade 
{
  0% {opacity: .4;} 
  100% {opacity: 1;}
}

  .prev
  {
    left: -8vw;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: -8vw;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(255, 47, 57, 0.37);
  }
