* {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}
body
{
    background-color: antiquewhite;
}



header {
    background-image: url('./images/sdf.jpg');
    font-family: serif;
    background-position: right top;
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: black;
    height: 61vw;
}


.cake 
{
    position: absolute;
    padding-left: 2vw;
    top: 3vw;
    left: 2vw;
    font-size: 4vw;
    color: aliceblue;
}

#in 
{
    color: rgb(240, 101, 101);
}


a 
{
    text-decoration: none;
    padding: 0.5vw;   
    color: #cecccc; 
}

li {
    list-style: none;
    border-bottom-width: 0.1vw;
}  


.navbar 
{
    position: relative;
    top: 5vw;
    padding: 0.1vw;
    font-size: 2vw;
}

.menu {
    display: flex;
    gap: 2em;
    justify-content: center;

}

.navbar li:hover {
    color: #ffffff;
    /* padding: 0.1vw; */
    border-bottom-style: solid;
    transition: 0.3s ease-in-out;
    
   
}

.sweet {
    position: absolute;
    top: 12vw;
    left: 7vw;

}

.sweet h1 {
    font-size: 5vw;
}

.pe {
    font-size: 3vw;
    color: rgb(252, 252, 252);

}

.p {
    font-size: 3vw;
    color: rgb(255, 255, 255);
}

.contact {

    font-size: 2vw;
    color: #fff;
    position: absolute;
    right: 1vh;
    top: 1vw;
    border: 0.5vw solid rgb(240, 101, 101);
    background-color: rgb(240, 101, 101);
    margin: 0px;
}

.pl {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 25vw;
}

.g {
    position: absolute;
    top: 31vw;
    left: -1vw;
}

.app {
    position: absolute;
    top: 32vw;
    left: 18vw;
}

.app img {
    width: 13vw;
}

.g img {
    width: 17vw;
}



/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv---skp---vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */











.middle {
    position: relative;
    width: 100vw;
    text-align: center;

}

.discover {
    position: relative;
    font-size: 2.3vw;
    color: rgba(0, 0, 0, 0.61);
    margin: 2vw 0 1vw;
    /* top: 3vw; */
    
}

.taste {
    position: relative;
    font-size: 5vw;
    color: black;
    margin-bottom: 2vw;
    /* top: 4vw; */

}


.sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    /* position: relative; */
    /* top: 41vw;
    height: 35vw; */
}

/* --------------------rasp---------------- */

.rasp, .red, .bery, .choc
 {
    
    transition: 0.3s ease-out;
    border: 1px solid;
    font-size: 1.4vw;
    width: 18vw;
    padding: 8vw 2vw 8vw 2vw;
    border-radius: 250px 250px 250px 250px;
    border-color: rgba(0, 0, 0, 0.2);
    color: #060201;
    background-color: #fff;
}
.rasp2, .red2, .bery2, .choc2
{
    color: #060201;
}

.rasp:hover, .red:hover, .bery:hover, .choc:hover
{
    transition: 0.3s ease-in;
    padding: 4vw 2vw 12vw 2vw;
    border: 1px solid;
    font-size: 1.4vw;
    width: 18vw;
    background-image: url('./images/pexels-dalila-dalprat-1889651.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border-color: #060201;
    color: #fff;
}


/* ------------------------------------------------------------------- */

